<!DOCTYPE html>
<html>

<head>

</head>

<body data-guildId="<%= guild.id %>">
    <div class="page">
        <!-- Main Navbar-->

        <%- include("../partials/header", { bot, user, path, title: "Dashboard" }) %>
        <div class="page-content d-flex align-items-stretch">

            <%- include("../partials/sidebar", { user, guild}) %>

            <div class="content-inner w-100">
                <!-- Page Header-->
                <header class="bg-white shadow-sm px-4 py-3 z-index-20">
                    <div class="container-fluid px-0">
                        <h2 class="mb-0 p-1"><%= guild.name %> <small class="fw-light">(<%= guild.id %>)</small></h2>
                        <h6 class="mb-0 p-1">You <span
                                class="<%= (guild.ownerId === user.id) ? 'text-green' : 'text-red'  %>"><%= (guild.ownerId === user.id) ? 'are' : 'are not'  %></span>
                            the Owner. Welcome back!</h6>
                    </div>
                </header>
                <!-- Dashboard Counts Section-->
                <section class="pb-0">
                    <div class="container-fluid">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="row gx-5 bg-white">
                                    <!-- Item -->
                                    <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                                        <div class="d-flex align-items-center">
                                            <div class="icon flex-shrink-0 bg-violet">
                                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                                    <use xlink:href="#user-1"> </use>
                                                </svg>
                                            </div>
                                            <div class="mx-3">
                                                <h6 class="h4 fw-light text-gray-600 mb-3">Member<br> count</h6>
                                            </div>
                                            <div class="number"><strong
                                                    class="text-lg"><%= guild.memberCount %></strong></div>
                                        </div>
                                    </div>
                                    <!-- Item -->
                                    <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                                        <div class="d-flex align-items-center">
                                            <div class="icon flex-shrink-0 bg-red">
                                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                                    <use xlink:href="#survey-1"> </use>
                                                </svg>
                                            </div>
                                            <div class="mx-3">
                                                <h6 class="h4 fw-light text-gray-600 mb-3">Bot<br>Count</h6>
                                            </div>
                                            <div class="number">
                                                <strong class="text-lg">
                                                    <%= guild.members.cache.filter(member => member.user.bot).size  %>
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Item -->
                                    <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                                        <div class="d-flex align-items-center">
                                            <div class="icon flex-shrink-0 bg-green">
                                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                                    <use xlink:href="#numbers-1"> </use>
                                                </svg>
                                            </div>
                                            <div class="mx-3">
                                                <h6 class="h4 fw-light text-gray-600 mb-3">Bot<br>version</h6>
                                            </div>
                                            <div class="number"><strong class="text-lg">
                                                    <%= bot.version %>
                                                </strong></div>
                                        </div>
                                    </div>
                                    <!-- Item -->
                                    <div class="col-xl-3 col-sm-6 py-4">
                                        <div class="d-flex align-items-center">
                                            <div class="icon flex-shrink-0 bg-orange">
                                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                                    <use xlink:href="#list-details-1"> </use>
                                                </svg>
                                            </div>
                                            <div class="mx-3">
                                                <h6 class="h4 fw-light text-gray-600 mb-3">Is this Guild<br>Beta?</h6>
                                            </div>
                                            <div class="number"><strong class="text-lg text-red">No</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- Dashboard Guild Config-->
                <section class="pb-0">
                    <div class="container-fluid">

                        <p class="text-uppercase fw-bold text-xl letter-spacing-0 m-3 px-2 heading">Modules</p>

                        <span class="text-uppercase text-black-400 text-xs letter-spacing-0 m-3 px-2 heading">Server management</span>

                        <div class="card <%= (settings.config.disabled_modules && settings.config.disabled_modules.indexOf('welcome') === -1) ? '' : 'opacity-5' %>" id="wc_settings_red">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="icon flex-shrink-0" style="margin: 0 10px 0 0;">
                                        <img src="https://img.icons8.com/color/48/000000/handshake--v1.png"/>
                                    </div>
                                    <div class="ms-3">
                                        <strong class="text-lg d-block lh-1 mb-1">Welcome</strong>
                                        <small class="text-uppercase text-gray-500 small d-block lh-1">
                                            <span class="form-label">Add a welcome message or joinroles</span>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" style="width: 40px; height: 20px;" id="module_welcome" <%= (settings.config.disabled_modules && settings.config.disabled_modules.indexOf('welcome') === -1) ? 'checked' : '' %>>
                                            </div>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card <%= (settings.config.disabled_modules && settings.config.disabled_modules.indexOf('moderation') === -1) ? '' : 'opacity-5' %>">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="icon flex-shrink-0" style="margin: 0 10px 0 0;">
                                        <img src="https://img.icons8.com/color-glass/48/000000/lock-2.png"/>
                                    </div>
                                    <div class="ms-3">
                                        <strong class="text-lg d-block lh-1 mb-1">Moderation</strong>
                                        <small class="text-uppercase text-gray-500 small d-block lh-1">
                                            <span class="form-label"> Enable Moderation commands, auto-moderation, warnroles or logs </span>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" style="width: 40px; height: 20px;" id="module_moderation" <%= (settings.config.disabled_modules && settings.config.disabled_modules.indexOf('moderation') === -1) ? 'checked' : '' %>>
                                            </div>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card <%= (settings.config.disabled_modules && settings.config.disabled_modules.indexOf('autotranslate') === -1) ? '' : 'opacity-5' %>">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="icon flex-shrink-0" style="margin: 0 10px 0 0;">
                                        <img src="https://img.icons8.com/color/48/000000/translate-text.png"/>
                                    </div>
                                    <div class="ms-3">
                                        <strong class="text-lg d-block lh-1 mb-1">Auto-Translate</strong>
                                        <small class="text-uppercase text-gray-500 small d-block lh-1">
                                            <span class="form-label"> Enable Moderation commands, auto-moderation, warnroles or logs </span>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" style="width: 40px; height: 20px;" id="module_translate" <%= (settings.config.disabled_modules && settings.config.disabled_modules.indexOf('autotranslate') === -1) ? 'checked' : '' %>>
                                            </div>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="text-uppercase text-black-400 text-xs letter-spacing-0 m-3 px-2 heading">Forms</span>

                        <div class="card <%= (settings.config.disabled_modules && settings.config.disabled_modules.indexOf('apply') === -1) ? '' : 'opacity-25' %>">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="icon flex-shrink-0" style="margin: 0 10px 0 0;">
                                        <img src="https://img.icons8.com/color/48/000000/reviewer-male--v1.png"/>
                                    </div>
                                    <div class="ms-3">
                                        <strong class="text-lg d-block lh-1 mb-1">Application-Form</strong>
                                        <small class="text-uppercase text-gray-500 small d-block lh-1">
                                            <span class="form-label"> Enable Moderation commands, auto-moderation, warnroles or logs </span>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" style="width: 40px; height: 20px;" id="module_applyform" <%= (settings.config.disabled_modules && settings.config.disabled_modules.indexOf('apply') === -1) ? 'checked' : '' %>>
                                            </div>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="text-uppercase text-black-400 text-xs letter-spacing-0 m-3 px-2 heading">Notifications</span>

                        <div class="card <%= (settings.config.disabled_modules && settings.config.disabled_modules.indexOf('youtube') === -1) ? '' : 'opacity-5' %>">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="icon flex-shrink-0" style="margin: 0 10px 0 0;">
                                        <img src="https://img.icons8.com/fluency/48/000000/youtube-play.png"/>
                                    </div>
                                    <div class="ms-3">
                                        <strong class="text-lg d-block lh-1 mb-1">Youtube notification</strong>
                                        <small class="text-uppercase text-gray-500 small d-block lh-1">
                                            <span class="form-label"> Enable Moderation commands, auto-moderation, warnroles or logs </span>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" style="width: 40px; height: 20px;" id="module_yt" <%= (settings.config.disabled_modules && settings.config.disabled_modules.indexOf('youtube') === -1) ? 'checked' : '' %>>
                                            </div>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card <%= (settings.config.disabled_modules && settings.config.disabled_modules.indexOf('twitch') === -1) ? '' : 'opacity-5' %>">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="icon flex-shrink-0" style="margin: 0 10px 0 0;">
                                        <img src="https://img.icons8.com/fluency/48/000000/twitch.png"/>
                                    </div>
                                    <div class="ms-3">
                                        <strong class="text-lg d-block lh-1 mb-1">Twitch notification</strong>
                                        <small class="text-uppercase text-gray-500 small d-block lh-1">
                                            <span class="form-label"> Enable Moderation commands, auto-moderation, warnroles or logs </span>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" style="width: 40px; height: 20px;" id="module_tw" <%= (settings.config.disabled_modules && settings.config.disabled_modules.indexOf('twitch') === -1) ? 'checked' : '' %>>
                                            </div>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </section>

                <!-- Page Footer-->
                <footer class="position-absolute bottom-0 bg-darkBlue text-white text-center py-3 w-100 text-xs"
                    id="footer">
                    <div class="container-fluid">
                        <div class="row gy-2">
                            <div class="col-sm-6 text-sm-start">
                                <p class="mb-0">Mittelbot &copy; 2021-2022</p>
                            </div>
                            <div class="col-sm-6 text-sm-end">
                                <p class="mb-0">Design by <a href="https://bootstrapious.com/p/admin-template"
                                        class="text-white text-decoration-none">Bootstrapious</a></p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- JavaScript files-->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/just-validate/js/just-validate.min.js"></script>
    <script src="/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="/js/charts-home.js"></script>
    <!-- Main File-->
    <script src="/js/front.js"></script>
    <script src="/js/index.js" type="module"></script>
    <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite - 
        //   see more here 
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {

            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function (e) {
                var div = document.createElement("div");
                div.className = 'd-none';
                div.innerHTML = ajax.responseText;
                document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot 
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');
    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>

</html>